{% extends "marriage_tun/base.html" %}

{% block title %}
<title>user profile</title>

{% endblock title %}


{% block content %}


<form action="#" method="POST">
{% csrf_token %}
{{user_profile}}
<input type="submit" value="Validate" class="btn btn-outline-primary" />
 {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
            
            <!-- Affichage des erreurs pour chaque champ -->
            {% if field.errors %}
                <div class="text-danger">
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</form>
<a href="{% url 'create_auth_profil'    %}">create auth profil</a>

{% endblock content  %}
